@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --body-bg-color: rgb(22, 22, 41);
    --bg-color-light: #6943FF;
    --bg-color-dark-background: #273549;
    --bg-color-dark-forground: #273549;
    --accent-color-purple: #CCC1FF;

    --padding-big: 2rem;
    --padding-medium: 1.5rem;
    --padding-small: .6rem;

    --h1-fs: 28px;
    --h2-fs: 20px;
    --p-fs: 14px;
}

body {
    background-color: var(--body-bg-color);
    color: white;
}

.container {
    width: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    gap: var(--padding-big);
    background-color: var(--bg-color-light);
    padding: var(--padding-big);
}
